{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Playlist App
  </h1>
  <p>
    A small app to let you compose playlists.
  </p> 
  
  <h3>Number of Playlists:   {{totalCollections}} </h3>
  <h3>Number of songs:   {{totalsongs}}</h3>

</section>